@model WebApplicationThrones.Models.FightModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FightModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AttArmy_obj.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttArmy_obj.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttArmy_obj.NumberOfUnits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttArmy_obj.NumberOfUnits)
        </dd>

        <br />

        <dt>
            @Html.DisplayNameFor(model => model.DefArmy_obj.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefArmy_obj.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefArmy_obj.NumberOfUnits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefArmy_obj.NumberOfUnits)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
