@model IEnumerable<WebApplicationThrones.Models.FightModel>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Army1_obj.NumberOfUnits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Army1_obj.Name)
        </th>
        <th>
            Versus
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Army2_obj.NumberOfUnits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Army2_obj.Name)
        </th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Army1_obj.NumberOfUnits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Army1_obj.Name)
        </td>
        <td>
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Army2_obj.NumberOfUnits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Army2_obj.Name)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new {  id=item.ID })
        </td>
    </tr>
    }

</table>
