@model IEnumerable<WebApplicationThrones.Models.FightModel>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AttArmy_obj.NumberOfUnits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttArmy_obj.Name)
        </th>
        <th>
            Versus
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DefArmy_obj.NumberOfUnits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DefArmy_obj.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WinningArmy_obj)
        </th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AttArmy_obj.NumberOfUnits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttArmy_obj.Name)
        </td>
        <td></td>
        <td>
            @Html.DisplayFor(modelItem => item.DefArmy_obj.NumberOfUnits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DefArmy_obj.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WinningArmy_obj.Name)
        </td>
        <td>
            @Html.ActionLink("Fight !", "Start", new { id = item.ID })
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
    }

</table>
